body {
    color: white;
    background-color: #292929;
    font: 15pt Arial, sans-serif;
    text-align: center;
    transition: all 500ms;
    background-size: cover;
}

.titulo {
    font-size: 30pt;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 0 0 10px black;
}

.principal {
    color: black;
    width: 700px;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}

.principal-titulo {
    font-size: 20pt;
    font-weight: normal;
    margin-bottom: 20px;
}

.linha-genero,
.linha-idade {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: auto;
}

.imagem {
    display: none;
    margin: auto;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    box-shadow: 0 0 10px black;
}

.botao {
    font: 15pt Arial, sans-serif;
    margin: auto;
    width: 200px;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
    box-shadow: 0 0 10px black;
}
.botao:hover {
    background-color: purple;
}

.nome {
    font-size: 10pt;
    font-style: italic;
    margin-top: 20px;
    text-shadow: 0 0 10px black;
}
