@keyframes movimento_seta {
  /*Animação de seta indo para esquerda para direita com fadein*/
  0% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
  font: 15px Arial;
  text-align: center;
  margin-top: 50px;
}

input {
  font-size: 15pt;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  width: 150px;
  box-shadow: 0px 0px 5px 0px #000000;
}

.section {
  display: flex;
  background-color: #272727;
  padding: 20px;
  border-radius: 10px;
  width: 700px;
  margin-top: 50px;
  margin: auto;
  box-shadow: 0px 0px 10px 0px #000000;
}

.section-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}

.botao {
  color: #ffffff;
  margin-top: 10px;
  width: 162px;
  padding: 5px;
  font-size: 14pt;
  border-radius: 10px;
  border: 1px solid #1154ac;
  background-color: #1464cb;
  transition: 0.2s ease;
}

.botao:hover {
  background-color: #1154ac;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #000000;
}

.botao.botao_alerta {
  background-color: #c93838;
  border: 1px solid #b33232;
}

.botao.botao_alerta:hover {
  background-color: #b33232;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  bottom: 10px;
}

.resultado_numeros {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 310px;
  margin-top: 20px;
  gap: 15px;
}

.numero {
  background-color: #1464cb;
  padding: 8px;
  border-radius: 10px 0px 0px 10px;
  width: 50px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  z-index: 10;
  padding-left: 18px;
}

.alerta {
  color: #c93838;
  font-weight: 600;
  text-align: center;
  width: 100%;
  animation: pulse 1s;
}

.numero_container {
  position: relative;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 10px;
  margin-right: 15px;
  animation: movimento_seta 0.5s forwards;
}

.seta {
  position: absolute;
  content: "";
  color: #ffffff;
  right: -30px;
  top: 50%;
  background-color: #1464cb;
  width: 30px;
  height: 30px;
  transform: rotate(45deg) translate(-71%);
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 4px;
}

.eu {
  display: inline-block;
  margin: 20px;
  font-size: 10pt;
  color: #555555;
  text-decoration: none;
}
